* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}
/* Background Image */
#bg-image {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/clear-sky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

/* Container for everything */
.custom-con {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    transition: .5s;
}
.container {
    padding: 0;
}

.custom-sec1 {
    background: rgba(201, 201, 201, 0.5);
    width: 30%;
    height: auto;
    transition: .5s;
    margin: 1rem;
}

.custom-sec1 h4 {
    margin-top: 1.5rem;
    margin-left: 2rem;
}

.custom-input {
    width: auto;
    margin: 2rem; 
    display: flex;
    flex-direction: row;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.custom-citylist{
    margin: 2rem;
}

/* Weather Info Section */
.custom-weather {
    width: 100%;
    transition: .5s;
}
.city-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.form-control-lg {
    width: 100%;
    border: none;
    padding: 2rem 5rem 2rem 2rem;
    text-align: start;
}
.custom-sec2 {
    height: auto;
    background-color: rgba(247, 247, 247, 0.7);

    padding: 5rem;
    margin: 1rem;
}
.custom-sec2 .city {
    font-size: 3rem;
    padding: 0%;
    margin: 0%;
}
.custom-sec2 div {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    font-size: 1.5rem;
    transition: .5s;
}
/* 5Day forecast */
.custom-sec3 {
    height: auto;

    background-color: rgba(247, 247, 247, 0.7);
    padding: 5rem;
    margin: 1rem;
    transition: .5s;
}
.custom-sec3 h3 {
    font-size: 3rem;
}
.weather-val {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* UV INDEX Color */
.low {
    background-color: green;
    transition: .5s;
    border-radius: 1.5rem;
    width: fit-content;
    
}
.low-mid {
    background-color: yellow;
    transition: .5s;
    border-radius: 1.5rem;
    width: fit-content;
    
}
.mid-high {
    background-color: orange;
    transition: .5s;
    border-radius: 1.5rem;
    width: fit-content;
    
}
.high {
    background-color: red;
    transition: .5s;
    border-radius: 1.5rem;
    width: fit-content;
    
}