* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}
/* Background Image */
#bg-image {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/clear-sky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    transition: .5s;
}

/* Container for everything */
.custom-con {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;

    padding: 20rem 0rem 20rem 0rem;
    transition: .5s;
}

.custom-sec1 {
    background: rgba(201, 201, 201, 0.5);
    width: 30%;
    height: auto;
    transition: .5s;
}

.custom-sec1 h4 {
    margin-top: 1.5rem;
    margin-left: 2rem;
}

.custom-input {
    width: auto;
    margin: 2rem; 
}
.custom-citylist{
    margin: 2rem;
}

/* Weather Info Section */
.custom-weather {
    width: 100%;
    transition: .5s;
}
.custom-sec2 {
    width: 100%;
    height: auto;
    background-color: rgba(247, 247, 247, 0.7);

    margin: 0 2rem 1rem;
    padding: 5rem;
}
.custom-sec2 h3 {
    padding-bottom: 2rem;
    font-size: 3rem;
}
.custom-sec2 p {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    font-size: 1.5rem;
    transition: .5s;
}
/* 5Day forecast */
.custom-sec3 {
    width: 100%;
    height: auto;

    background-color: rgba(247, 247, 247, 0.7);
    margin: 1rem 2rem 0;
    padding: 5rem;
    
    transition: .5s;
}
.custom-sec3 h3 {
    font-size: 3rem;
}
